@charset "UTF-8";
@font-face {
  font-family: "Nunito";
  src: url(./fonts/Nunito/static/Nunito-Regular.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(./fonts/Quicksand/static/Quicksand-Regular.ttf);
}
body {
  font-family: "Quicksand";
  color: #1d1d1d;
}

main {
  max-width: 144rem;
  margin: 0 auto;
}

.bg-black {
  background-color: #0b0f15;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.preloader-logo {
  background-color: #cbcbcb;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.preloader-logo img {
  width: 18rem;
}

.preloader-text-box {
  font-family: "Nunito";
  background-color: #cbcbcb;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5rem;
  padding-left: 3rem;
  line-height: 4.5rem;
}

.preloader-title {
  font-weight: 700;
}

.preloader-logo,
.preloader-text-box {
  transform: translateX(0);
}

body.dark {
  background-color: #0e0e0e;
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.white-text {
  color: #fff !important;
}

.black-text {
  color: #1d1d1d;
}

.checkbox-label {
  background-color: #111;
  width: 5rem;
  height: 2.6rem;
  border-radius: 5rem;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(2.4rem);
  background-color: #fff;
}

.checkbox:checked + .checkbox-label {
  background-color: #fff;
  color: #000;
}

.dark-mode {
  position: absolute;
  right: 10rem;
}

.checkbox:checked + .checkbox-label .ball {
  background-color: #000;
}

.text-dark {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  scroll-behavior: smooth;
  font-size: 1.5625vw;
}
@media screen and (min-width: 968px) {
  html {
    font-size: 0.521vw;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.2rem 0;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__logo img {
  width: 5.3rem;
  height: 5rem;
}
.header__logo-box {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.header__list {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.header__link {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #1d1d1d;
}
.header__link:hover {
  font-weight: 700;
}
.header__btn {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  color: #377dff;
  padding: 1.2rem 5rem;
  border: 1px solid #377dff;
  border-radius: 2.4rem;
  transition: all 0.3s ease 0s;
}
.header__btn:hover {
  background-color: #377dff;
  color: #fff;
}

.container {
  max-width: 124rem;
  width: 100%;
  margin: 0 auto;
}

.logo-box__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
}

.logo-box__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.01em;
}

.header__link.active {
  font-weight: 700;
}

/* Nav Icon */
.mobile-nav-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 10px;
  --line-height: 4px;
  --spacing: 6px;
  --color: #000;
  --radius: 4px;
  /* Fixed height and width */
  /* height: var(--height); */
  /* width: var(--width); */
  /* Dynamic height and width */
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  padding-right: 4rem;
}

.nav-icon {
  position: relative;
  width: 25px; /* Зменшена ширина для центральної палки */
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
  align-self: center;
  /* Центрування горизонтально між ::before і ::after */
  margin: 0 auto;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%; /* Вирівнювання по центру відносно лівого краю */
  transform: translateX(-50%); /* Центрування по горизонталі */
  width: var(--width); /* Ширина псевдоелементів залишається незмінною */
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(-1 * (var(--line-height) + var(--spacing))); /* Розташування вище */
}

.nav-icon::after {
  top: calc(var(--line-height) + var(--spacing)); /* Розташування нижче */
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

/* Layout */
.no-scroll {
  overflow-x: hidden;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #377dff, #6a90f0, #a0b3ff);
  top: -100vh;
  transition: all 0.3s ease 0s;
  z-index: 98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.sytle {
  color: #377dff;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  color: #fff;
  font-weight: 600;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 28px;
}
.mobile-nav__list .active {
  opacity: 0.5;
}

.mobile-nav-btn {
  position: absolute;
  top: 8.5rem;
  right: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
  display: none;
}

.blue-dot1 {
  position: absolute;
  top: 24.3rem;
  left: 9.6rem;
  width: 3.1rem;
  height: 3.1rem;
  background: linear-gradient(180deg, rgba(68, 133, 255, 0.8) 0%, #377dff 100%);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 50%;
}

.red-dot1 {
  position: absolute;
  top: 10rem;
  right: -1.6rem;
  width: 3.1rem;
  height: 3.1rem;
  background: linear-gradient(180deg, #ff8e8e 0%, #f62424 100%);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 50%;
}

.red-dot2 {
  position: absolute;
  bottom: 28.6rem;
  left: 30rem;
  width: 3.1rem;
  height: 3.1rem;
  background: linear-gradient(180deg, #ff8e8e 0%, #f62424 100%);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 50%;
}

.blue-dot2 {
  position: absolute;
  top: 41.7rem;
  right: 20rem;
  width: 3.1rem;
  height: 3.1rem;
  background: linear-gradient(180deg, rgba(68, 133, 255, 0.8) 0%, #377dff 100%);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 50%;
}

.blue-dots-img {
  position: absolute;
  width: 10rem;
  height: 7rem;
  z-index: -1;
  top: -2rem;
  left: 20rem;
}

.red-dots-img {
  position: absolute;
  width: 10rem;
  height: 7rem;
  z-index: -1;
  bottom: -2rem;
  left: 20rem;
}

.dream {
  position: relative;
  overflow: hidden;
  margin-bottom: 15rem;
  padding-bottom: 5.5rem;
}
.dream__content {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}
.dream__info {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.dream__title {
  text-align: center;
  font-family: "Nunito";
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 8.7rem;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 75rem;
}
.dream__text {
  font-family: "Nunito";
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 77rem;
  color: #8a8989;
}
.dream__btn {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 1.2rem 5rem;
  border: 1px solid #377dff;
  border-radius: 2.4rem;
  transition: all 0.3s ease 0s;
  background-color: #377dff;
  opacity: 0;
  transform: scale(0.9);
}
.dream__btn:hover {
  background-color: #fff;
  color: #377dff;
}
.dream__img {
  position: relative;
}
.dream__main-img {
  width: 73rem;
  height: 50rem;
}

.done {
  background-color: #fff;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1490196078);
  max-width: 17.5rem;
  border-radius: 1.6rem;
  position: absolute;
  left: -10rem;
  top: 2rem;
}
.done__great {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
}
.done__great::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: url("./img/icons/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.done__text p {
  font-family: "Nunito";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  letter-spacing: 0.01em;
}
.done__text span {
  font-weight: 700;
}
.done__feetback {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 2.7rem 2rem;
  max-width: 19.6rem;
  border-radius: 1.6rem;
  position: absolute;
  bottom: -1rem;
  background-color: #fff;
  right: -11rem;
}
.done__feetback-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.done__feetback-box-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feetback-box__name {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.01em;
}
.feetback-box__position {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 0.8rem;
  letter-spacing: 0.01em;
  color: #8a8989;
}
.feetback-box__text {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.76rem;
  letter-spacing: 0.01em;
}

.teammate-dots-pink {
  position: absolute;
  width: 10rem;
  height: 7rem;
  bottom: 0;
  left: 50rem;
  z-index: -1;
}

.teammate-dots-red {
  position: absolute;
  top: 2.5rem;
  width: 10rem;
  height: 7rem;
  left: -3rem;
  z-index: -1;
}

.teammate {
  margin-bottom: 16rem;
}
.teammate__title {
  font-family: "Nunito";
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 7.5rem;
  letter-spacing: 0.003em;
  text-align: center;
}
.teammate__content {
  display: flex;
  gap: 6.5rem;
  align-items: center;
  padding-bottom: 1rem;
  position: relative;
}
.teammate__content-img {
  width: 56.5rem;
  height: 40rem;
  margin-top: 4rem;
}
.teammate__content-inner {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.teammate__content-inner p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.01em;
  color: #8a8989;
}
.teammate__link-box {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.teammate__link-box a {
  box-shadow: 0px 4px 8px 0px rgba(55, 125, 255, 0.5019607843);
  padding: 1.2rem 5rem;
  background-color: #377dff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  border-radius: 2.4rem;
  border: 1px solid #377dff;
  transition: all 0.3s ease 0s;
}
.teammate__link-box a:hover {
  background-color: #f1f1f1;
  color: #377dff;
}
.teammate__btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 5rem;
  border: 1px solid #377dff;
  color: #377dff;
  border-radius: 2.4rem;
  font-family: Quicksand;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  transition: all 0.3s ease 0s;
}
.teammate__btn img {
  transition: all 0.3s ease 0s;
  width: 2.4rem;
  height: 2.4rem;
}
.teammate__btn:hover {
  background-color: #377dff;
  color: #f1f1f1;
}
.teammate__btn:hover img {
  filter: invert(1) brightness(2);
}

.scrollpoint {
  color: #377dff;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  text-align: center;
}

.services {
  margin-bottom: 13rem;
}
.services__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__link {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0.01em;
  color: #377dff;
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: flex-end;
}
.services__link::after {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("./img/icons/arrow-right.svg");
  background-size: cover;
  transition: all 0.3s ease 0s;
}
.services__link:hover::after {
  content: "";
  transform: rotate(-45deg);
  scale: 1.2;
}
.services__info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  max-width: 52rem;
}
.services__title {
  font-family: "Nunito";
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 7.1rem;
  letter-spacing: 0.003em;
}
.services__text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.01em;
  color: #8a8989;
}
.services__tools-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.services__tools-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 3rem;
  max-width: 26.2rem;
  padding: 3.5rem 0;
}
.services__tools-card:nth-child(1) {
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1019607843);
}

.tools-card__img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tools-card__img img {
  width: 4.2rem;
  height: 4.2rem;
}
.tools-card__text {
  font-family: "Nunito";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: 0.01em;
  text-align: center;
}

.scrollpoint.services {
  text-align: left;
  margin-bottom: 0;
}

.services__tools-card:nth-child(1) .tools-card__img {
  background-color: #377dff;
}

.services__tools-card:nth-child(2) .tools-card__img {
  background-color: #ff2d2d;
}

.services__tools-card:nth-child(3) .tools-card__img {
  background-color: #7ce761;
}

.services__tools-card:nth-child(4) .tools-card__img {
  background-color: #ffa800;
}

.portfolio__dots {
  position: absolute;
  top: 14rem;
  right: 0;
  transform: rotate(-16.32deg);
  width: 10rem;
  height: 7rem;
}

.portfolio {
  position: relative;
}
.portfolio__title {
  font-family: "Nunito";
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 7.5rem;
  letter-spacing: 0.003em;
  text-align: center;
  margin-bottom: 2.8rem;
}
.portfolio__text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 67rem;
  margin: 0 auto;
}
.portfolio__content {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
}
.portfolio__content-card {
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
  display: flex;
}
.portfolio__content-card p {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.003em;
  text-align: left;
  color: #fff;
  position: absolute;
  align-self: flex-end;
  padding: 3rem 2.5rem;
  transform: translate(0, 0);
  transition: all 0.7s ease 0s;
}
.portfolio__content-card:nth-child(3), .portfolio__content-card:nth-child(1) {
  height: 35rem;
  width: 35rem;
}
.portfolio__content-card:nth-child(2) {
  height: 40rem;
  width: 40rem;
}
.portfolio__content-card img {
  transition: all 0.7s ease 0s;
  width: 100%;
  height: 100%;
  position: absolute;
}
.portfolio__content-card:hover img {
  scale: 1.2;
}
.portfolio__content-card:hover p {
  transform: translate(0, -50%);
}
.portfolio__btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  color: #377dff;
  padding: 1.2rem 5rem;
  border: 1px solid #377dff;
  border-radius: 2.4rem;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 22.6rem;
  margin: 0 auto;
}
.portfolio__btn:hover {
  background-color: #377dff;
  color: #fff;
}

.testimonial-blue-dots1 {
  position: absolute;
  width: 10rem;
  height: 7rem;
  left: 20rem;
  top: -3rem;
  rotate: 14.48deg;
}

.testimonial-blue-dots2 {
  position: absolute;
  width: 10rem;
  height: 7rem;
  right: 6.7rem;
  bottom: -3rem;
  rotate: 14.48deg;
  z-index: -1;
}

.testimonial {
  margin-top: 19rem;
  margin-bottom: 25rem;
  position: relative;
}
.testimonial__title {
  font-family: "Nunito";
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 7.5rem;
  letter-spacing: 0.003em;
  text-align: center;
}
.testimonial__content {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  margin-top: 5rem;
}
.testimonial__box {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 5rem 3rem 10rem 4rem;
  background-color: #fff;
  box-shadow: 8px 8px 24px 8px rgba(0, 0, 0, 0.0509803922);
  border-radius: 2rem;
}
.testimonial__box-top {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.testimonial__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  color: #464646;
}

.box-name__name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.4rem;
  letter-spacing: 0.01em;
  color: #377dff;
}
.box-name__role {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #8a8989;
}

.colaboration {
  margin-bottom: 18rem;
}
.colaboration__content {
  display: flex;
  justify-content: space-between;
}
.colaboration__info {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.colaboration__title {
  font-family: "Nunito";
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 7.5rem;
  letter-spacing: 0.003em;
}
.colaboration__text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.01em;
  color: #8a8989;
}
.colaboration__link {
  color: #fff;
  padding: 1.2rem 5rem;
  background-color: #377dff;
  box-shadow: 0px 4px 8px 0px rgba(55, 125, 255, 0.5019607843);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  border: 1px solid #377dff;
  border-radius: 2.4rem;
  max-width: 19rem;
  transition: all 0.3s ease 0s;
}
.colaboration__link:hover {
  color: #377dff;
  background-color: #fff;
}
.colaboration__img {
  position: relative;
  height: 37.9rem;
  width: 58.7rem;
}
.colaboration__img-left {
  position: absolute;
  width: 32.5rem;
  height: 28.8rem;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.colaboration__img-right {
  width: 29.4rem;
  position: absolute;
  height: 28.8rem;
  top: 0;
  right: 0;
}
.colaboration__dost-blue {
  position: absolute;
  width: 10.3rem;
  height: 7.5rem;
  top: 5.6rem;
  left: -1rem;
}
.colaboration__dost-orange {
  position: absolute;
  width: 21rem;
  height: 7rem;
  bottom: 2rem;
  left: 29.3rem;
}

.footer {
  padding: 13.2rem 0 3.3rem;
  background-color: #383638;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
.footer__row {
  display: flex;
  gap: 6.8rem;
}
.footer__nav {
  display: flex;
  gap: 7.7rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__list-title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.7rem;
  color: #fff;
}
.footer__link {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.3rem;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.footer__link:hover {
  color: #ff8e8e;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__bottom-social {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.footer__bottom-social a {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  transition: all 0.3s ease 0s;
}
.footer__bottom-social a:hover {
  scale: 1.4;
}
.footer__bottom-social a:hover img {
  scale: 1.4;
}
.footer__bottom-social img {
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
}

.privacy {
  padding-top: 1.6rem;
  margin-top: 1.6rem;
  border-top: 1px solid #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #fff;
}

.header__logo.footer {
  padding: 1.9rem 2.5rem;
  background-color: #fff;
  border-radius: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 968px) {
  .header__btn,
  .header__list,
  .dark-mode,
  .teammate-dots-red,
  .portfolio__dots,
  .testimonial-blue-dots2,
  .testimonial-blue-dots1 {
    display: none;
  }
  .mobile-nav-btn {
    display: block;
    z-index: 999;
  }
  main {
    max-width: 100%;
    width: 100%;
  }
  .dream__title {
    font-size: 4.5rem;
    line-height: 7.6rem;
    margin-top: 14rem;
  }
  .dream__text {
    font-size: 2.8rem;
    line-height: 5rem;
  }
  .teammate__content {
    flex-direction: column-reverse;
  }
  main {
    padding: 0 2.5rem;
  }
  .teammate__title {
    margin-bottom: 3.5rem;
    font-size: 5rem;
  }
  .teammate__content-inner p {
    font-family: Quicksand;
    font-size: 3rem;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: 0.01em;
  }
  .teammate__link-box a {
    padding: 2rem 7rem;
    font-size: 2.4rem;
    border-radius: 5rem;
  }
  .teammate__btn {
    padding: 2rem 7rem;
    font-size: 2.4rem;
    border-radius: 5rem;
  }
  .services__content {
    flex-direction: column;
  }
  .dream__main-img {
    width: 66rem;
    height: 44.8rem;
  }
  .done {
    left: 1rem;
    top: 1rem;
    max-width: 20rem;
  }
  .done__feetback {
    right: 1rem;
    bottom: -2rem;
  }
  .done__great {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #8a8989;
  }
  .done__text p {
    font-size: 2.5rem;
  }
  .feetback-box__text {
    font-size: 1.6rem;
  }
  .blue-dots-img {
    left: -2rem;
    width: 19.6rem;
    height: 14rem;
    bottom: -2rem;
    top: auto;
  }
  .red-dots-img {
    right: -2rem;
    width: 19.6rem;
    height: 14rem;
    top: -2rem;
    left: auto;
  }
  .dream {
    overflow: visible;
  }
  .teammate-dots-pink {
    width: 19.6rem;
    height: 14rem;
    left: auto;
    right: -2rem;
    bottom: -2rem;
  }
  .scrollpoint {
    font-size: 3rem;
    text-align: center !important;
  }
  .services__title {
    font-size: 4.5rem;
    text-align: center;
  }
  .services__text {
    text-align: center;
    font-size: 3rem;
    line-height: 5rem;
  }
  .services__link {
    font-size: 3rem;
    margin-bottom: 5.3rem;
  }
  .portfolio__content {
    flex-direction: column;
    align-items: center;
  }
  .portfolio__text {
    font-size: 3rem;
    line-height: 4rem;
  }
  .portfolio__btn {
    padding: 2rem 7rem;
    font-size: 3rem;
    border-radius: 5rem;
    max-width: 40rem;
    margin-top: 10rem;
  }
  .testimonial__box {
    width: 100%;
    max-width: 100%;
  }
  .testimonial__box:nth-child(1), .testimonial__box:nth-child(2) {
    display: none;
  }
  .testimonial__text {
    font-size: 3rem;
    line-height: 5rem;
  }
  .box-name__name {
    font-size: 3.8rem;
  }
  .box-name__role {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  .testimonial__box-top img {
    width: 14rem;
    height: 14rem;
  }
  .colaboration__content {
    flex-direction: column-reverse;
    gap: 9rem;
    align-items: center;
    text-align: center;
  }
  .colaboration__title {
    font-size: 3.5rem;
    line-height: normal;
  }
  .colaboration__text {
    font-size: 3rem;
  }
  .colaboration__info {
    align-items: center;
  }
  .header {
    padding: 0 2.5rem;
  }
  .footer__row {
    flex-direction: column;
  }
  .footer__nav {
    flex-wrap: wrap;
  }
  .footer {
    padding: 9rem 5.1rem;
  }
  .footer__link {
    font-size: 2.6rem;
  }
  .footer__list-title {
    font-size: 3rem;
  }
  .header__logo.footer {
    max-width: 30rem;
  }
  .header__logo.footer > a > img {
    width: 10rem;
    height: 10.7rem;
  }
  .logo-box__title {
    font-size: 3rem;
  }
  .logo-box__text {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .dream__btn,
  .colaboration__link {
    padding: 2rem 7rem;
    font-size: 3rem;
    border-radius: 5rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .footer__bottom-social a {
    width: 7rem;
    height: 7rem;
  }
  .privacy {
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
  .blue-dot2 {
    display: none;
  }
  .blue-dot1 {
    left: -3.6rem;
  }
  .red-dot1 {
    right: -2rem;
  }
  .colaboration {
    overflow: hidden;
  }
  .colaboration__link {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=style.css.map */